annotated-types==0.7.0
anyio==4.4.0
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
fast-api-gcs==0.0.11
fastapi==0.110.3
google-api-core==2.19.0
google-auth==2.30.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.1
h11==0.14.0
idna==3.7
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.7.3
pydantic_core==2.18.4
python-multipart==0.0.9
requests==2.32.3
rsa==4.9
setuptools==69.5.1
sniffio==1.3.1
starlette==0.37.2
typing_extensions==4.12.1
urllib3==2.2.1
uvicorn==0.30.1
wheel==0.43.0
